@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-image: url("../image/image-cajero-gu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.form-login {
    width: 400px;
    height: 480px;
    background: #ffffffc5;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 7px 13px 37px black;
    padding: 20px 30px;
    border-top: 4px solid #0401ab;
    color: black;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 25px;
}

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.form-login a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.form-login a:hover {
    text-decoration: underline;
}

.controls {
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 15px;
    padding: 11px 10px;
    border-radius: 10px;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    border-color: black;
    color: black;
}

.buttons {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #0401ab;
    border: none;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.buttons:hover {
    background: #0401abc2;
    border: 1px solid white;
}

.socials-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.socials-row img {
    width: 24px;
    height: 24px;
}

.socials-row>a {
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    min-height: 48px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 8px;
    border: 1px solid black;
    font-weight: 700;
}

.socials-row>a:hover {
    border: 1px solid white;
    text-decoration: none;
}